@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-screen {
    height: 100vh;
}

.bg-gray-100 {
    background-color: #f3f4f6;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
    opacity: 0; /* Initially hide the title */
    animation: appear 1s forwards; /* Apply the 'appear' animation */
}

@keyframes appear {
    0% {
        transform: scale(0.5); /* Start from small size */
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        transform: scale(1); /* End with full size */
        opacity: 1; /* End with full opacity */
    }
}

.font-bold {
    font-weight: 700;
}

.mb-8 {
    margin-bottom: 2rem;
}

.absolute {
    position: absolute;
}

.top-5 {
    top: 1.25rem;
}

.right-5 {
    right: 1.25rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Swap pink to blue */
.bg-blue-500 {
    background-color: #FF407D;
}

.text-blue-500 {
    color: #FF407D;
}

/* Swap blue to pink */
.bg-pink-500 {
    background-color: #40679E;
}

.text-pink-500 {
    color: #40679E;
}

.bg-pink-100 {
    background-color: #FFCAD4;
}

.bg-blue-500 {
    background-color: #40679E;
}

.hover\:bg-blue-600:hover {
    background-color: #1B3C73;
}

.text-white {
    color: #fff;
}

.rounded-md {
    border-radius: 0.375rem;
}

/* Animation */
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(64, 103, 158, 0.7); /* Adjusted color */
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(64, 103, 158, 0); /* Adjusted color */
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(64, 103, 158, 0); /* Adjusted color */
    }
}

.pulse {
    animation: pulse 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation: bounce 2s infinite;
}
